*{
  transition: all 0.5s;

}
.App{
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h" 
  "a m"
  "f f";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 4fr 55fr 4fr;

  
  /*grid-gap: 10px;*/
}





