.header{
  position: relative;
  background-color: #C5C6C7;
  grid-area: h;
  padding: 4px 0px 0px 0px ;

}
.logo{

  width: 110px;
  height: 40px;
  margin-left: 8%;
}

.Login{
white-space: nowrap;
position: absolute;
bottom: 35%;
  right: 8%;
  font-size: 16px;
}
.headTask{
  white-space: nowrap;
  position: absolute;
  bottom: 20%;
  left: 20%;
  font-size: 16px;
  
}
.hTasks{
  position: relative;
  display: inline-block;
  padding:5px;
}

.hTasks:hover{
  position: relative;
  display: inline-block;
  background-color: #fff
}
.createTask{
  right: 7px;
}

.findTask{
  left: 7px;
}