.nav{
  background-color: #45A29E;
    grid-area: n;
  }
  .NAV{
    border-radius: 20px;
    border: 2px solid;
    padding: 4%;
  }
  .NAV:hover{
  
    padding: 5%;
    background-color: #45A29E;
  }
  .profile{ 
    background-color: #66FCF1;
  
  }
  .tasks{
    background-color: #66FCF1;
  
  }
  .wallet{
    background-color: #66FCF1;
  
  }
  .statistics{
    background-color: #66FCF1;
  
  }
  .aboutUs{
    background-color: #66FCF1;
  
  }